.wrapperGroup149Child {
  height: 100%;
  width: 100%;
  z-index: 5;
  object-fit: contain;
  position: absolute;
  left: 1px;
  top: 3px;
  transform: scale(1.271);
}
.heading1,
.wrapperGroup149 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperGroup149 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 5px;
  max-height: 100%;
  width: 245.3px;
  z-index: 5;
}
.heading1 {
  top: 8px;
  left: 0;
  font-weight: 800;
  width: 267px;
  height: 44px;
  z-index: 6;
}
.heartIcon {
  height: 104.5px;
  width: 267px;
  position: relative;
}
.heartIconWrapper {
  width: 1203px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.background {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #fba8c1,
    rgba(251, 168, 193, 0.54) 46%,
    rgba(251, 168, 193, 0.97)
  );
  display: none;
}
.innerCardIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heartIcon1 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 17.2px #fb83a7;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.card1 {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card {
  width: 173.1px;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.background1 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #fba8c1,
    rgba(251, 168, 193, 0.54) 46%,
    rgba(251, 168, 193, 0.97)
  );
  display: none;
}
.heartSetIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heartIcon2 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart1 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 17.2px #fb83a7;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.heartSetParent {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card2 {
  flex: 1;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 112px;
  z-index: 3;
}
.background2 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #fba8c1,
    rgba(251, 168, 193, 0.54) 46%,
    rgba(251, 168, 193, 0.97)
  );
  display: none;
}
.frameIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heartIcon3 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart2 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 17.2px #fb83a7;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frameParent {
  height: 221px;
  flex: 1;
  position: relative;
}
.card3,
.multiCardContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.card3 {
  flex: 1;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  min-width: 112px;
  cursor: pointer;
  z-index: 3;
}
.multiCardContainer {
  width: 435.1px;
  padding: 0 var(--padding-34xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-16xl-9);
  max-width: 100%;
}
.background3 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #a2e3f3,
    rgba(162, 227, 243, 0.29) 46%,
    #a2e3f3
  );
  display: none;
}
.frameIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heartIcon4 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart3 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 20.8px #39c9ec;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frameGroup {
  height: 221px;
  flex: 1;
  position: relative;
}
.card4 {
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.background4 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #a2e3f3,
    rgba(162, 227, 243, 0.29) 46%,
    #a2e3f3
  );
  display: none;
}
.frameIcon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heartIcon5 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart4 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 20.8px #39c9ec;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frameContainer {
  height: 221px;
  flex: 1;
  position: relative;
}
.card5 {
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.background5 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #a2e3f3,
    rgba(162, 227, 243, 0.29) 46%,
    #a2e3f3
  );
  display: none;
}
.frameIcon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heartIcon6 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart5 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 20.8px #39c9ec;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frameDiv {
  height: 221px;
  flex: 1;
  position: relative;
}
.card6,
.cardGroup {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.card6 {
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  z-index: 3;
}
.cardGroup {
  flex: 1;
  display: grid;
  gap: var(--gap-16xl-9);
  min-width: 384px;
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(130px, 1fr));
}
.activityScreen,
.cardContainer,
.cardParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.cardParent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-16xl-9);
}
.activityScreen,
.cardContainer {
  justify-content: flex-start;
}
.cardContainer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mid-5);
}
.activityScreen {
  width: 1349.1px;
  flex-direction: row;
  padding: 0 var(--padding-20xl) var(--padding-9xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-cadetblue);
  font-family: var(--font-nunito);
}
@media screen and (max-width: 750px) {
  .heading1 {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 675px) {
  .multiCardContainer {
    flex-wrap: wrap;
  }
  .cardGroup {
    min-width: 100%;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(130px, 225px));
  }
  .cardGroup,
  .cardParent {
    gap: var(--gap-lg);
  }
}
@media screen and (max-width: 450px) {
  .heading1 {
    font-size: var(--font-size-lgi);
  }
  .multiCardContainer {
    gap: var(--gap-lg);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .cardGroup {
    grid-template-columns: minmax(130px, 1fr);
  }
}
