.frameChild,
.leftIcon {
  position: absolute;
  top: 284.8px;
  left: 144.9px;
  width: 501.1px;
  height: 346.1px;
}
.leftIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: 7px;
  transform: scale(1.109);
}
.rightIcon,
.wrapperLeft {
  position: absolute;
  top: 153.5px;
}
.wrapperLeft {
  left: 0;
  width: 129.3px;
  height: 129.3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightIcon {
  left: 416.2px;
  width: 226.8px;
  height: 171.5px;
  object-fit: contain;
}
.unionIcon {
  position: relative;
  width: 85.1px;
  height: 85.9px;
}
.blushesIcon,
.faceIcon,
.intersectIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.blushesIcon,
.intersectIcon {
  z-index: 2;
}
.blushesIcon {
  z-index: 5;
  object-fit: contain;
  transform: scale(1.761);
}
.wrapperBlushes {
  position: absolute;
  top: 30.3px;
  left: 46.5px;
  width: 271.6px;
  height: 44.4px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intersectParent {
  position: absolute;
  top: 226.3px;
  left: 33.8px;
  width: 348.9px;
  height: 149.5px;
}
.shadeIcon,
.wrapperShade {
  position: absolute;
  z-index: 2;
}
.shadeIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: 0;
  transform: scale(1.462);
}
.wrapperShade {
  top: 12.6px;
  left: 33.3px;
  width: 341px;
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unionIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.leftIcon1,
.noseIcon,
.rightIcon1 {
  position: absolute;
  top: 79px;
  width: 64.7px;
  height: 80.8px;
  z-index: 4;
}
.leftIcon1 {
  left: 48.5px;
  object-fit: contain;
}
.noseIcon,
.rightIcon1 {
  left: 222.2px;
}
.noseIcon {
  top: 143.6px;
  left: 137.4px;
  width: 65.3px;
  height: 51.7px;
}
.faceParent,
.unionParent {
  position: absolute;
  top: 90.7px;
  left: 44.4px;
  width: 331.3px;
  height: 197.8px;
}
.faceParent {
  top: 36.4px;
  left: 64.7px;
  width: 416.2px;
  height: 375.8px;
}
.wrapperLeftParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 643px;
  height: 412.2px;
  z-index: 1;
}
.frameInner,
.frameItem,
.mysterySeason {
  position: absolute;
  top: 454.52px;
  left: 167.81px;
  filter: blur(8.63px);
  border-radius: 50%;
  background-color: var(--color-sienna);
  width: 44.1px;
  height: 22.9px;
  transform: rotate(41.3deg);
  transform-origin: 0 0;
  z-index: 1;
}
.frameInner,
.frameItem {
  top: 485.42px;
  left: 364px;
  transform: rotate(-36.2deg);
}
.frameInner {
  top: 436.1px;
  left: 236.44px;
  filter: blur(31.17px);
  background-color: var(--color-bisque);
  width: 90px;
  height: 114.6px;
  transform: rotate(2deg);
}
.ellipseIcon,
.vectorParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ellipseIcon {
  top: 306.1px;
  left: 243px;
  width: 72.9px;
  height: 57.9px;
  z-index: 2;
}
.frameChild1 {
  position: absolute;
  top: 30px;
  left: 53px;
  width: 326.7px;
  height: 156.3px;
}
.leftIcon2,
.vectorIcon {
  position: absolute;
  top: 284.8px;
  left: 144.9px;
  width: 501.1px;
  height: 346.1px;
}
.leftIcon2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: 7px;
  transform: scale(1.109);
}
.rightIcon2,
.wrapperLeft1 {
  position: absolute;
  top: 153.5px;
}
.wrapperLeft1 {
  left: 0;
  width: 129.3px;
  height: 129.3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightIcon2 {
  left: 416.2px;
  width: 226.8px;
  height: 171.5px;
  object-fit: contain;
}
.unionIcon2 {
  position: relative;
  width: 85.1px;
  height: 85.9px;
}
.blushesIcon1,
.faceIcon1,
.intersectIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.blushesIcon1,
.intersectIcon1 {
  z-index: 2;
}
.blushesIcon1 {
  z-index: 5;
  object-fit: contain;
  transform: scale(1.761);
}
.wrapperBlushes1 {
  position: absolute;
  top: 30.3px;
  left: 46.5px;
  width: 271.6px;
  height: 44.4px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intersectGroup,
.shadeIcon1 {
  position: absolute;
  top: 226.3px;
  left: 33.8px;
  width: 348.9px;
  height: 149.5px;
}
.shadeIcon1 {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  left: 0;
  top: 0;
  transform: scale(1.462);
}
.wrapperShade1 {
  position: absolute;
  top: 12.6px;
  left: 33.3px;
  width: 341px;
  height: 156px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unionIcon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.leftIcon3,
.noseIcon1,
.rightIcon3 {
  position: absolute;
  top: 79px;
  width: 64.7px;
  height: 80.8px;
  z-index: 4;
}
.leftIcon3 {
  left: 48.5px;
  object-fit: contain;
}
.noseIcon1,
.rightIcon3 {
  left: 222.2px;
}
.noseIcon1 {
  top: 143.6px;
  left: 137.4px;
  width: 65.3px;
  height: 51.7px;
}
.faceGroup,
.unionGroup {
  position: absolute;
  top: 90.7px;
  left: 44.4px;
  width: 331.3px;
  height: 197.8px;
}
.faceGroup {
  top: 36.4px;
  left: 64.7px;
  width: 416.2px;
  height: 375.8px;
}
.wrapperLeftGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 643px;
  height: 412.2px;
  z-index: 1;
}
.delRevs,
.ellipseDiv,
.scifi {
  position: absolute;
  top: 454.52px;
  left: 167.81px;
  filter: blur(8.63px);
  border-radius: 50%;
  background-color: var(--color-sienna);
  width: 44.1px;
  height: 22.9px;
  transform: rotate(41.3deg);
  transform-origin: 0 0;
  z-index: 1;
}
.ellipseDiv,
.scifi {
  top: 485.42px;
  left: 364px;
  transform: rotate(-36.2deg);
}
.ellipseDiv {
  top: 436.1px;
  left: 236.44px;
  filter: blur(31.17px);
  background-color: var(--color-bisque);
  width: 90px;
  height: 114.6px;
  transform: rotate(2deg);
}
.frameChild2,
.vectorContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frameChild2 {
  top: 306.1px;
  left: 243px;
  width: 72.9px;
  height: 57.9px;
  z-index: 2;
}
.frameParent,
.vectorGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.frameParent {
  top: 276px;
  left: 515px;
  width: 646px;
  height: 630.9px;
  z-index: 3;
}
